version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: iot_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: flask_demo
    ports:
      - "3307:3306"   # 3307 på værtsmaskinen -> 3306 i containeren
    volumes:
      - db_data:/var/lib/mysql
      - ./mysql-init:/docker-entrypoint-initdb.d

  api:
    build: .
    container_name: iot_flask_api
    restart: always
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "5005:5000"

volumes:
  db_data:
